# Python Intro Vignette

March 22, 2022

From Harvard CSCI E101, Prof. Bruce Huang

## Variables 
variables are name representing value stored in the memory.

### Variable Naming rule
I. you cannot use python's keywords for naming variable examples:

1. and 
2. del 
3. from 
4. None 
5. True
6. as 
7. elif
8. def
9. else   
are some examples.

II. No spaces between variable names. For example the variable " fruit name" is incorrect

III. first character a-z, A-Z or underscore .Examples : a , _a, fruit, Fruit 

IV. After first character you can use a-z, A-Z , 0-9 or underscore .Examples : a20, a_20, _20 

V. Case sensitive ,  fruit, and Fruits are considered distince.

In [1]:
#declaring and storing values in variables
#declares an int

fruit1_count = 10


#declares a float
fruit1_price = 0.75


#declares a string, note you can also use "apple" to store a string. Use " " if you have a string literal that contains an
#apostrophe or single quote
fruit1_name ='apple'

print(fruit1_name,fruit1_count,fruit1_price)

apple 10 0.75

In [2]:
#Note : You cannot use a variable if you have not declared it. You will get an error 

#print(f2_name)

## Python math operators

<table>
    <tr>
        <th>Symbol</th>
        <th>Operation</th>
        <th>Description</th>
    </tr>
    <tr>
        <td> + </td>
        <td> Add </td>
    </tr>
    <tr>
        <td> + </td>
        <td> Add </td>
    </tr>
    <tr>
        <td> - </td>
        <td> Subtract </td>
    </tr>
    <tr>
        <td> * </td>
        <td> Multiply </td>
    </tr>
    <tr>
        <td> /</td>
        <td> Divide</td>
        <td> The result is a floating point number </td>
    </tr>
    <tr>
        <td> //</td>
        <td> Divide</td>
        <td> The result is integer </td>
    </tr>
    <tr>
        <td> %</td>
        <td> Remainder</td>
        <td> Divides one number by another and gives the remainder </td>
    </tr>
    <tr>
        <td> **</td>
        <td> Exponent</td>
        <td> raises the power</td>
    </tr>
    
</table>

In [3]:
f2_name = 'Orange'
f2_count = 20
f2_price = 0.5

#Addition
f_total = fruit1_count+ f2_count

#Subtraction
fruit1_count =  fruit1_count - 5

#Multiplication

f1_total = fruit1_count * fruit1_price

#Excercise : Try the following and store it in a varible  1. 20 /4  2. 20//4  3. 10%3   4. 2**3
print(f1_total)

3.75

## Operator Precedence 
1. Exponentiation
2. mulitplication, division , // and %
3. Addition, Subtraction

Note:
1. multiplication / // % have the same precedence 
2. Addition, Subtraction have the same precedence

In [4]:
x = 12.0 + 6.0 /3.0
x

14.0

### Example convert 30 degree celsius to F 

$$ F= (9/5)C + 32 $$

In [5]:
celsius = 30

fahren = (9/5 )*celsius + 32
fahren

86.0

## if statement

used to create decision structure. It executes one or more statement only if boolean condition is true. 

<table>
    <tr>
        <th>Operator</th>
        <th>Description</th>
    </tr>
    <tr>
        <td> &gt; </td>
        <td> greater than </td>
    </tr>
    <tr>
        <td> &lt; </td>
        <td> less than </td>
    </tr>
    <tr>
        <td> &gt;= </td>
        <td> greater than or equal to </td>
    </tr>
    <tr>
        <td> &lt;= </td>
        <td> less than or equal to </td>
    </tr>
    <tr>
        <td> ==</td>
        <td>equal to</td>
    </tr>
    <tr>
        <td> != </td>
        <td> Not equal to</td>
    </tr>
    
    
</table>

In [6]:
#Example 
sales = 10000
bonus = 500
name = 'Ada'
added_bonus =0

if sales > 9000:
    added_bonus = bonus

print(name + ' total bonus =' + str(added_bonus))

Ada total bonus =500

### if-else statement
 executes  a block of statement if condition is true , or another block if condition is false

In [7]:
sales = 1000
if sales > 9000:
    added_bonus = 500
    print('You met your sales quota, your bonus = '+ str(added_bonus))
else:
    print('You did not meet the sales quota for bonus')

You did not meet the sales quota for bonus

In [8]:
# sales = 5000
# if sales > 9000:
#     added_bonus = 500
#     print('You met your sales quota, your bonus = '+ str(added_bonus))
# else:
#     print('You did not meet the sales quota for bonus')

#### if-elif-else

In [9]:
#Example 
temp =  -10

if temp == 0:
    print(temp," is zero")
elif temp > 0:
    print(temp, "is positive")
elif temp < 0:
    print(temp, "is negative")
else:
    print(temp, "is unlike anything I've ever seen...")

-10 is negative

## Built in data structures
### List

ordered and mutable data collection type in Python. 
example :

[1,2,3,4] , ['jane', 'mary', 'john'], ['jane', 20, 'kiran', 30] 

referece : Whirlwind Tour of Python, Jake Varderplas

#### Operations on list

In [10]:
my_list = ['apple','banana','orange', 'pear', 'cherry', 'blackberry']

# Length of a list 
len(my_list)
my_list

['apple', 'banana', 'orange', 'pear', 'cherry', 'blackberry']

In [11]:
#Append - add a value to a list 
my_list.append('blueberry')
my_list

['apple', 'banana', 'orange', 'pear', 'cherry', 'blackberry', 'blueberry']

In [12]:
new_list = ['mango','avacado']
my_list = my_list + new_list
my_list

['apple',
 'banana',
 'orange',
 'pear',
 'cherry',
 'blackberry',
 'blueberry',
 'mango',
 'avacado']

In [13]:
#List indexing 

my_list[4]

'cherry'

In [14]:
my_list[len(my_list)-1]

'avacado'

In [15]:
my_list[-2]

'mango'

In [16]:
my_list[0:6]

['apple', 'banana', 'orange', 'pear', 'cherry', 'blackberry']

## Iterators

### Loops

You will often need to loop through a collection, or perform a repetitive task in programming. Loops help you with that.

In [17]:
range(10)

range(0, 10)

In [18]:
range(1,10,1)

range(1, 10)

In [19]:
#for loop 
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [20]:
len(my_list)

9

In [21]:
my_list

['apple',
 'banana',
 'orange',
 'pear',
 'cherry',
 'blackberry',
 'blueberry',
 'mango',
 'avacado']

In [22]:
#loop through a list
for i in range(len(my_list)):
    print(my_list[i], end =' ')

apple banana orange pear cherry blackberry blueberry mango avacado

In [23]:
#another way 
for fruit in my_list:
    print(fruit, end =' ')

apple banana orange pear cherry blackberry blueberry mango avacado

In [24]:
my_list

['apple',
 'banana',
 'orange',
 'pear',
 'cherry',
 'blackberry',
 'blueberry',
 'mango',
 'avacado']

In [25]:
#while loop 

i = 0

while i < 10:
    print(i, end =' ')
    i = i+1

0 1 2 3 4 5 6 7 8 9

In [26]:

i = len(my_list) -1

while i >=0:
    print(my_list[i], end =" ")
    i = i-1

avacado mango blueberry blackberry cherry pear orange banana apple

In [27]:
str1 ='apple'
str2 ='apple'

print(id(str1))
print(id(str2))

2337808947568
2337808947568

In [28]:
if str1 is str2:
    print('yes')

yes

In [29]:
#strings

ch = 'a'
flag = False
my_str = "apples"

for c in my_str:
    if c == ch:
        flag = True
print(flag)


ch = 'k'
flag = False
for c in range(len(my_str)):
    if (c == ch):
        flag = True
print(flag)

True
False

## Functions

$ y = f(x) $

examples :

1. $y = 2x$
2. $y= x**2$

In [30]:
print('Hello')

Hello

In [31]:
def my_function(x):
    ans = x**2
    return ans

In [32]:
answer = my_function(5)
answer

25

In [33]:
#This function prints hello
def print_hello():
    print('hello')

In [34]:
print_hello()

hello

In [35]:

def my_function(x,y): #my_function takes the parameters x and y
    """
   x : int
   y: int
   returns x * y
   """

    z = x*y
    return z #my_function returnz z, the product of x and y

answer = my_function (3,4) #assign the results of my_function to the variable answer
print(answer)

12

In [36]:
x = 9
y= x**(2)
y

81

In [37]:

# This function counts the number of digits in the string 
#returns the count 
def count_digits(st):
    digit_count =0
    for i in range(len(st)):
        if st[i].isdigit():
            digit_count = digit_count +1
    
    return digit_count

In [38]:
count_digits('app43le45')

4

In [39]:
value = 'app43e45'
for i in range(len(value)):
    x = (value[i])
    if x.isdigit() == True:
        print("Digit")
    else:
        print("Non Digit")

Non Digit
Non Digit
Non Digit
Digit
Digit
Non Digit
Digit
Digit

In [40]:
my_list = []
for i in range(18):
    t = (100, 4, True)
    my_list.append(t)

print(my_list)

t_a = my_list[0]
print(my_list[0])

[(100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True), (100, 4, True)]
(100, 4, True)